<<div class="flex flex-col items-center p-4 space-y-4">
  <h1 class="text-2xl font-bold">Ingredients</h1>
  <!-- Search Bar -->
  <div class="form-control w-full max-w-md">
    <input type="text" placeholder="Search ingredients..." class="input input-bordered w-full" [(ngModel)]="searchQuery">
  </div>

  <!-- Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    @for (ingredient of filteredIngredients; track ingredient) {
      <div class="card-body h-45 bg-base-200 shadow cursor-pointer hover:bg-base-300 select-none transition duration-150 active:scale-99 focus:ring-2 focus:ring-primary">
          <h2 class="card-title">{{ ingredient.name }}</h2>
        <div class="flex gap-2 items-center">
          <lucide-icon name="piggy-bank"></lucide-icon>
          <p>{{ ingredient.price / 100 }}€ / kg</p>
        </div>
        <div class="flex gap-2 items-center">
          <lucide-icon name="flame"></lucide-icon>
          <p>{{ ingredient.calories }} Kcal / 100g</p>
        </div>

        @if (ingredient.notes) {
          <div class="flex gap-2 items-start">
            <lucide-icon name="notebook-pen"></lucide-icon>
            <p>{{ ingredient.notes }}</p>
          </div>
        }
      </div>
    }
  </div>
</div>

<button class="btn btn-primary fixed bottom-6 right-10 z-50 shadow-lg">
  <lucide-icon name="plus"></lucide-icon>
</button>
